/* General and Misc */

.dark-link {
    color: #000;
}

.dark-link:hover {
    color:#58457F;
}

.color-black {
    color: black;
}

.spacer {
    width: 100vw;
    height: 20%;
}

.error-message {
    text-align: center;
}
.hero {
    width: 100vw;
    height: 30svh;
    background-color: #E9724C;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }



@keyframes dancing-husk {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.husk {
    width: 200px;
    position: absolute;
    animation: dancing-husk 1s ease-in-out infinite;
}
.husk.head--left {
    left: 5%;
}
.husk.head--right {
    right: 5%;
}


/* Carousel */

.carousel {
    position: relative;
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

.carousel__item {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carousel__track-container {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 50px;
    margin: 0;
    list-style: none;
    height: 100%;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.carousel__button--left {
    left: -60px;
}
.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 15px;
    cursor: pointer;
}
.carousel__indicator.current-slide {
    background: rgba(255, 255, 255, 0.75);
}

.is-hidden {
    display: none;
}


/* Single page styles */

.single-page {
    width: 100vw;
    height: 8svh;
    /* background-color: green; */
}

.weather-thought-pic {
    background: url('../images/weather-thought.png') no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 30svh;
}

/* Media Queries */


@media screen and (max-width: 936px) {
    .spacer {
        height: 30%;
    }
    .husk {
        width: 90px;
        top: 20%;
    }
}

@media screen and (max-width: 828px) {
    #experience .experience-img {
        width: 100vw;
    }
}